[Desktop Entry]
Type=Application
Exec=gnome-terminal --maximize
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=term-max
Name=term-max
Comment[en_US]=
Comment=
